<div class="panel panel-default">
    <div class="panel-heading">
        <label for="nameSearch">Contact Name:</label>&nbsp;<input id="nameSearch" ng-model="searchNameText" />
        <label for="stateSearch">State:</label>&nbsp;
        <select id="stateSearch" ng-model="searchStateText">
            <option value="">All States</option>
            <option ng-repeat="state in stateList" value="{{state.abbreviation}}">{{state.name}}</option>
        </select>
    </div>
    <div class="panel-body">
        <button class="btn btn-default" ng-click="recPerPage=10">10</button>|<button class="btn btn-default" ng-click="recPerPage=20">20</button>|<button class="btn btn-default" ng-click="recPerPage=50">50</button>
        <table class="table table-responsive table-hover table-condensed">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>City</th>
                <th>State</th>
            </tr>
            <tr dir-paginate="contact in contacts | filter: applySearchFilter | orderBy: 'first_name' | itemsPerPage: recPerPage"
                    ng-click="openDetail(contact);">
                <td>{{contact.first_name}}</td>
                <td>{{contact.last_name}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.city}}</td>
                <td>{{contact.state}}</td>
            </tr>
        </table>
        <dir-pagination-controls template-url="templates/pagination.tpl.html"></dir-pagination-controls>
    </div>
</div>

